<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <!-- Start: Core AppConfig =====================-->
    <!-- Cache-->
    <add key="globalAbsoluteCache" value="60" />
    <add key="globalSlidingCache" value="60" />
    <add key="resourcesCache" value="60" />
    <!-- Folders and filename-->
    <add key="logFolderName" value="6.- Logs" />
    <add key="resourcesFolderName" value="1.- Resources" />
    <add key="globalResourceFileName" value="GlobalResources" />

    <!-- End: Core AppConfig =====================-->
  </appSettings>
  
  <connectionStrings>
    <add name="ExampleDBEntities" connectionString="metadata=&quot;res://*/0.- Edmx.ExampleModel3.csdl|res://*/0.- Edmx.ExampleModel3.ssdl|res://*/0.- Edmx.ExampleModel3.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=camellia.arvixe.com;initial catalog=ExampleDB;persist security info=True;user id=example;password=example;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExampleDB" connectionString="metadata=&quot;res://*/0.- Edmx.ModelExam.csdl|res://*/0.- Edmx.ModelExam.ssdl|res://*/0.- Edmx.ModelExam.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=camellia.arvixe.com;initial catalog=ExampleDB;persist security info=True;user id=example;password=example;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>