<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Cache =================-->
    <add key="globalAbsoluteCache" value="60"/>
    <add key="globalSlidingCache" value="60"/>

    <add key="resourcesCache" value="60"/>


    <!--Name of folders =================-->
    <add key="logFolderName" value="2.- Logs"/>
    <add key="resourcesFolderName" value="1.- Resources"/>
    <add key="globalResourceFileName" value="GlobalResources" />


  </appSettings>
</configuration>