<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error In Home</title>
</head>
<body>
    <hgroup>
        <h1>Error occured in Home.</h1>
        <h2 class="warning">An error occurred while processing your request in Home.</h2>
        @Html.ValidationSummary(false);
    </hgroup>
</body>
</html>
